body{
    margin: 50px;
    padding: 30px;
    background-color: aqua;
    border: 10px;
    border-style: solid;
}p{
    background-color: pink;
    padding: 20px; /*Envoltura del contenido */
    margin: 15px;
    border: 5px; /*borde de la caja*/
    border-style: dashed;
}.uno{
    background-color: bisque;
}